.containerTitle{
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
color:#34C94B;
}

.cards{
   display: flex;
   gap:32px;
flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.carddiv{
   
   display: flex;
   align-items: center;
   justify-content: center;
   ;
}


